{% extends 'layout.html' %}
{% block content %}
<p>
    FaceRange is a fictional social networking site by numerous students/alumni from Degrassi Community School.
    It is the successor to MyRoom, and the second social networking website in Degrassi history.
    FaceRange is highly similar to the social networking site Facebook in the show's universe, like MyRoom is for MySpace.
    The last known use was Degrassi Next Class Season 2, Episode #RiseAndGrind: Mrs. Hollingsworth invites Tristan to a get together on FaceRange.
</p>
<p>Create an account to see posts by going to the Register page, then Login.</p>
<br>
<p>Built with <a href="https://python.org">Python<a/> and <a href="https://flask.palletsprojects.com/en/2.3.x/">Flask</a></p>

<p>Developed by Carl Zimmerman</p>
<p><a href="https://codingwithcarl.com">codingwithcarl.com</a></p>
<p><a href="https://github.com/codingwithcarl">GitHub</a></p>
{% endblock content%}